.mainContainer {
	margin-top: 0px;
	padding: 15px;
  	width: 100%;
}
.form-signin {
	border: 1px solid #1962A1;
	margin: 0 auto;
	max-width: 330px;
}
.form-signin div.form-signin-header {
	background-color: #347DBC;
    border-bottom: 1px solid #C3E6F0;
    height: 85px;
    padding: 18px;
}
.form-signin div.userChangePasswordForm {
	padding: 17px 33px 45px;
}
.form-signin div.formField {
    margin-top: 23px;
}
.form-signin div.formField label {
	color: #1962A1;
    font-size: 16px;
}
.form-signin .form-control {
	border-radius: 0px;
	position: relative;
	font-size: 16px;
	height: auto;
	padding: 4px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.form-signin .form-control:focus {
	z-index: 2;
}
.form-signin .userChangePasswordForm button {
    font-size: 14px;
    font-weight: bold;
    line-height: 1.33;
    margin-right: 25px;
}
.form-signin div.form_button {
	margin-top: 22px;
    text-align: center;
}
div.resetPasswordMessage {
	margin: 0 auto;
    max-width: 330px;
}
@media (min-width: 768px) {
	.mainContainer {
		margin-top: 50px;
  	}
  	.form-signin {
		max-width: 680px;
  	}
  	.form-control {
  		width: 60.4%;
  	}
  	.form-signin .userChangePasswordForm button {
  		padding: 6px 24px;
  	}
  	div.form-signin-footer {
		margin-left: 301px;
	}
	div.resetPasswordMessage {
		max-width: 680px;
	}
}
.mandatory_field {
	color: #E00000;
	display: none;
}
div.form-signin-footer {

    text-align: right;
    font-size: 10px;
     margin-bottom: 25px;
    margin-left: 0px;
    margin-right: 29px;
}
.head{
	font-size:19px;
	margin-bottom: 16px;
}
.btn-primary {
	background-image: linear-gradient(to bottom, #CDCDCD 0px, #989898 100%);
	border-color: #FFFFFF;
}
.btn-primary:hover,.btn-primary:focus,.btn-primary:active {
	border-color: #FFFFFF;
}