<%inherit file="userCentralMaster.html"/>
<%def name="extraHeader()">
    <link rel="stylesheet" href="${request.static_url('usercentral:static/css/forgot_password.css')}" type="text/css" media="screen" charset="utf-8" />
    </%def>
	<div class="mainContainer">
	% if result is UNDEFINED:
	<div class="forgotPasswordMessage"></div>
	% elif result == 'success':
	<div class="forgotPasswordMessage"><div class="alert alert-success alert-dismissable">
		<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
		<div class="messageHeader"><strong>Success!</strong></div>
		<b>${message}</b>
	</div></div>
	% elif result == 'fail':
	<div class="forgotPasswordMessage"><div class="alert alert-danger alert-dismissable">
		<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
		<div class="messageHeader"><strong>Failure!</strong></div>
		<b>${message}</b>
	</div></div>
	% endif
	<form class="form-signin" role="form" action="/forgotPassword" method="POST">
		<div class="form-signin-header"><img src="${request.static_url('usercentral:static/images/logo_header.png')}"></div>
		<div class="userLoginForm">
		<div class="head"><b>Reset your password</b></div>
			<p>Enter your user id below. We will send an email to the address on record for that account.</p>
			<p>If you cannot remember your user id, you will need to contact the Insight Help Desk: 1-866-315-4866</p>
			<div class="formField">
				<label for="name">Your user id</label>
				<input class="form-control get_value" type="text" name="username" autofocus="" placeholder="Please enter your user id">
			</div>
			<div class="mandatory_field">&nbsp* Please enter your user id</div>
		
			<div class="form_button">
				<button class="btn btn-primary"><i>Reset Password</i></button>
		
			</div>
		</div>
		<div class="form-signin-footer">
		<p>&copy; Insight Catastrophe Group | <b>0.1.0</b></p>
		<div><a>terms of service</a> | <a>privacy policy</a></div>
		</div>
	</form>
</div>
<script src="${request.static_url('usercentral:static/scripts/forgotPassword.js')}"></script>