<!DOCTYPE html>
<html lang="en">
	<head>
		<title>User Central</title>
	</head>
	<body>
		<div class="container">
			<div class="mail_header_container" style="background-color: #074375; color: #FFFFFF; font-size: 24px; padding: 15px;">
				<b>Welcome to Policy Central</b>
			</div>
			<div class="mail_body" style="font-size: 17px; padding: 15px;">
				We have created an account for <b>${user}</b>.<br><br>
				The username for this account is ${userEmail}. To set your password, click on the link below:<br><br>
				<div class="link_body" style="background-color: #D9EAF8; border: 1px solid #89BCE8; color: #032B56; padding: 9px;">
					<b>${userEmailToken}</b>
				</div><br>
				If you have any issues with your account or are not the intended recipient please contact our Insight Help Desk at <b>(877) 304-4785, option #6</b> or at <a href="mailto:helpdesk@icg360.com?Subject=Issues%20regarding%20account">helpdesk@icg360.com</a>.<br><br>
				Thank you,<br><br>
				Insight Help Desk
			</div>
		</div>
	</body>
</html>