<%inherit file="userCentralMaster.html"/>
<%def name="extraHeader()">
    <link rel="stylesheet" href="${request.static_url('usercentral:static/css/reset_password.css')}" type="text/css" media="screen" charset="utf-8" />
    </%def>
<div class="mainContainer">
	% if result is UNDEFINED:
	<div class="resetPasswordMessage"></div>
	% elif result == 'success':
	<div class="resetPasswordMessage"><div class="alert alert-success alert-dismissable">
		<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
		<div class="messageHeader"><strong>Success!</strong></div>
		<b>${message}</b>
	</div></div>
	% elif result == 'fail':
	<div class="resetPasswordMessage"><div class="alert alert-danger alert-dismissable">
		<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
		<div class="messageHeader"><strong>Failure!</strong></div>
		<b>${message}</b>
	</div></div>
	% endif
	<form class="form-signin" role="form" action="/reset/password" method="POST">
		<div class="form-signin-header"><img src="${request.static_url('usercentral:static/images/logo_header.png')}"></div>
		<div class="userChangePasswordForm">
			<div class="head"><b>Choose a new password</b></div>
			<p>Your password must be a minimum of 8 characters and can be up to 32 characters in length. It must contain at least one number,
			 and one uppercase letter and may not be the same as your username.</p>
			<div class="formField">
				<input type="hidden" name="t" value="${request.params['t']}">
				<label for="name">Please enter a new password</label>
				<input class="form-control get_value newPassword" type="password" name="password" autofocus="" placeholder="">
			</div>
			<div class="mandatory_field">&nbsp* Please enter new password</div>
			<div class="formField">
				<label for="name">Confirm new password</label>
				<input class="form-control get_value confirmPassword" type="password" name="cnfPassword" autofocus="" placeholder="">
			</div>
			<div class="mandatory_field">&nbsp* Please enter confirm password</div>
			<div class="form_button">
				<input class="btn btn-primary" type="submit" value="Reset Password" >
			</div>
		</div>
		<div class="form-signin-footer">
		<p>&copy; Insight Catastrophe Group | <b>0.1.0</b></p>
		<div><a>terms of service</a> | <a>privacy policy</a></div>
		</div>
	</form>
</div>
<script src="${request.static_url('usercentral:static/scripts/resetPassword.js')}"></script>